body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
padding: 24px;
} 
.container > div h2{
    text-align: center;
}
.intro{
    margin: -16px;
    padding: 16px;
    background-color:#343030;
    color: white;
    text-align: center;
}
#profile-image{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
#social-links img{
    height: 30px;
    width: 30px;
    margin: auto 18px; 
}
table, 
th, 
tr,
td {
    width: 100%;
    table-layout: fixed;
    border: 1px solid;
    border-collapse: collapse;
} 
th, tr{
    padding: 8px; 
}
p{
    font-size: 1.5rem;
    line-height: 2rem;
}